* {
	 box-sizing: border-box;
}

body > div { 
	position: relative;
	display: inline-block;

}

#healthDiv{
	position: absolute;
    display: flex;
    width: 100%;
	height: 100px;
    align-items: center;
	padding: 20px;
}

#playerHealthBar {
	background-color: red;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#playerHealth {
	background-color: yellow;
	height: 100%;
	width: 100%;
	
}

#timer{
	background-color: blue;
	width: 120px;
    height: 100px;
    flex-shrink: 0;
	display: flex;
	align-items: center;
    justify-content: center;
	font-size: 36px;
}
#enemyHealthBar{
	background-color: red;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

#enemyHealth{
	background-color: yellow;
	height: 100%;
	width: 100%;
}