.title {
	font-weight: bold;
	font-size: 30px;
}

body {
	background-color: gray;
}


#gameComponent {
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 800px;
	border: solid red 5px;
	background-color: lightgreen;
	
}


#field {
	position: absolute;
	width: 500px;
	height: 700px;
	top: 50px;
	background-color: white;
}


#pushBar {
	position: absolute;
	left: 1px;
	top: 380px;
	width: 488px;
	height: 40px;
	background: yellow;
	border: solid gold 5px;
	border-radius: 20px;
	font-size: 25px;
	font-weight: 700;
	line-height: 150%;
}


.ball {	
	position: absolute;
	width: 30px;
	height: 30px;
	background: #888888;
	border: solid #777777 2px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	font-size: 16px;
}

.block {
	position: absolute;
	width: 58px;
	height: 28px;
	background: blue;
	border: dotted #000000 4px;
	text-align: center;
	color: white;
	line-height: 30px;
	font-weight: bold;
	font-size: 22px;
}


#playerBar1 {
	position:absolute;
	left: 52px;
	top: 775px;
	width: 200px;
	height: 0;
    border-top: 8px dotted lightblue;
	transform-origin: right;
	transform: rotate( 90deg );
}

#playerBar2 {
	position: absolute;
	left: 52px;
	top: 20px;
	width: 200px;
	height: 0;
    border-top: 8px dotted lightblue;
	transform: rotate( 90deg );
	transform-origin: right;
}

#player1{
	position: absolute;
	left: 235px;
	top: 755px;
}

#player2{
	position: absolute;
	left: 235px;
	top: 8px;
}

