

body {
	background-color: #999999;
}

#mainComponent{
	position: relative;
	
}

#gameComponent {
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 800px;
	border: solid 20px black;
	background-color: lightgreen;
	
}


#field {
	position: absolute;
	width: 500px;
	height: 700px;
	top: 50px;
	background-color: white;
}


#title {
	font-family: 'Staatliches' ,cursive; 
	font-size: 4em; 
	text-align: center; 
	color: #F1C164; 
	text-shadow: 5px 5px #2D63A7;
	text-decoration: underline;
	margin-bottom: 10px;
	margin-top: -5px;
} 




#pushBar {
	position: absolute;
	left: 1px;
	top: 380px;
	width: 488px;
	height: 40px;
	background: yellow;
	border: solid gold 5px;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	text-shadow: 2px 2px #00ffff;
}


.ball {	
	position: absolute;
	width: 30px;
	height: 30px;
	background: #888888;
	border: solid #777777 2px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	font-size: 16px;
}

.block {
	position: absolute;
	width: 58px;
	height: 28px;
	background: blue;
	border: dotted #000000 4px;
	text-align: center;
	color: white;
	line-height: 30px;
	font-weight: bold;
	font-size: 22px;
}


#playerBar1 {
	position:absolute;
	left: 52px;
	top: 775px;
	width: 200px;
	height: 0;
    border-top: 8px dotted lightblue;
	transform-origin: right;
	transform: rotate( 90deg );
}

#playerBar2 {
	position: absolute;
	left: 52px;
	top: 20px;
	width: 200px;
	height: 0;
    border-top: 8px dotted lightblue;
	transform: rotate( 90deg );
	transform-origin: right;
}

#player1{
	position: absolute;
	left: 235px;
	top: 755px;
}

#player2{
	position: absolute;
	left: 235px;
	top: 8px;
}

.decoration{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#controller1 {
	position: absolute; 
	left: 532px;
	top: -20px;
	width: 198px;   
	height: 840px;
	background: #11ccdd;

}

#controller1:after{
	width: 12px;
	height: 840px;
	background: #666666;
	position: absolute; 
	content: ""; 
	top: 0px; 
	left: -12px; 
}	

		 
#controller1:before{
	width: 120px;
	height: 840px;
	border-radius: 75px;
	background: #11ccdd;
	position: absolute; 
	content: ""; 
	top: 0px; 
	left: 138px; 
}


#controller2 {
	position: absolute; 
	left: -230px;
	top: -20px;
	width: 198px;   
	height: 840px;
	background: #ddcc11;

}
#controller2:before{
	width: 120px;
	height: 840px;
	border-radius: 75px;
	background: #ddcc11;
 	position: absolute; 
 	content: ""; 
 	top: 0px; 
	left: -60px; 
}
#controller2:after{
	width: 12px;
	height: 840px;
	background: #333333;
	position: absolute; 
	content: ""; 
	top: 0px; 
	left: 198px; 
}


.pushButton{
    position:absolute;
	left: 0px;
    top: 0px;
    width: 100px;
    height:75px;
    border-radius: 50px / 25px;
    background-color: #ff0000;
    border: 4px solid black;
	line-height: 100%;

}

.pushButton:after{
    position: absolute;
    width: 100px;
    height: 30px;
    left: -4px;
    top: -5px;
    background-color: #ff0000;
    border-radius: 50px / 20px;
	border: 4px solid black;
}



#upArrow{
	position: absolute;
	left: 70px;
    top: 50px;
	display: block;
	background-color: #ffff00;
	box-shadow: 5px -3px 8px #666666;
} #upArrow:after{
	content: "↑";
	background-color: #dddd00;
}


#leftArrow{
	position: absolute;
	left: 70px;
    top: 750px;
	display: block;
	background-color: #0000ff;
	box-shadow: 5px -3px 8px #666666;
} #leftArrow:after{
	content: "←";
	background-color: #0000dd;
}

#rightArrow{
	position: absolute;
	left: 70px;
    top: 750px;
	display: block;
	background-color: #ff0000;
	box-shadow: 5px -3px 8px #666666;
} #rightArrow:after{
	content: "→";
	background-color: #dd0000;
}


#space{
	position: absolute;
	left: 10px;
    top: 200px;
	display: block;
	background-color: #ffff00;
	box-shadow: 5px -3px 8px #666666;
} #space:after{
	content: "space";
	background-color: #dddd00;
}

#A{
	position: absolute;
	left: 10px;
    top: 200px;
	display: block;
	background-color: #0000ff;
	box-shadow: 5px -3px 8px #666666;
}

#A:after{
	content: "A";
	background-color: #0000dd;
}


#D{
	position: absolute;
	left: 10px;
    top: 200px;
	display: block;
	background-color: #ff0000;
	box-shadow: 5px -3px 8px #666666;
}
#D:after{
	content: "D";
	background-color: #dd0000;
}


#cheerUp1{
	position: absolute;
	height: 150px;
	width: 150px;
	left: 50px;
	top: 150px;
}

#cheerUp2{
	position: absolute;
	height: 150px;
	width: 150px;
	left: -10px;
	top: 550px;
}




